body, html{
    margin: 0;
    overflow-x: hidden;
}

.group:before,
.group:after{
	content: " ";
	display: table;
}
.group:after{
	clear: both;
}

.group{
	*zoom: 1;
}

::selection {background: #ddd; color: #000; text-shadow: none;}
::-moz-selection {background: #ddd; color: #000; text-shadow: none;}

.float-left{
    float: left;
}


.navigation {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 80px;
    transition: top 0.3s;
    top: 0;
}

.navlinks {
    color: white;
    font-size: 1.5rem;
    margin: 0 10px 0 10px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
    text-transform: uppercase;
}
.navlinks:hover{
    color: rgb(255, 0, 120);
    text-decoration: none;
}

.navlink-div {
    padding: 20px 0 0 0;
}

.slash {
    color: rgb(255, 0, 120);
}

.logoheading {
    height: 70px;
    margin: 5px 0 30px 0;
}

.vlnovka-top {
    margin: 10px 0 30px 0;
    height: 60px;
}

.header {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url('/img/bg.webp');
    background-position: top, center;
    background-attachment: fixed;
    max-height: 750px;
}

.logomain {
    margin-top: 150px;
    max-width: 80vw;
    width: 80vw;
    max-width: 600px;
    max-height: 400px;
}

.footericon {
    color: black;
}

.footer {
    background-color: white;
}

.o-oz {
    background-color: white;
    padding-top: 30px;
}

hr {
    margin: 30px auto 30px auto;
    border-style: dotted;
    border-width: 0.75rem 0 0 0;
    width: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

br {
    margin: 0 0 10px 0;
}

h2 {
    font-size: 3rem;
    padding-bottom: 20px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

p {
    width: 60%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}

.o-clenoch h2{
    text-align: center;
}

.wrapper{
    margin-right: 20px;
}

.clen{
    border: white solid 5px;

    margin: 0 auto 20px;
    max-width: 920px;
    min-height: 300px;
    position: relative;
    background-color: rgb(255, 220, 236);
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
}
.clen h3{
    margin-top: 5px;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
}

.clen em{
    color: rgb(70, 70, 70);
    margin-bottom: 0px;
    font-style: normal;
}

.clen .job-description{
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255, 0, 120);
    font-size: 1rem;
    display: inline-block;
    top: -7px;
}

.clen em:first-of-type{
    position: relative;
    
}
.clen em::before{
    content: " | ";
}
.clen em:first-of-type::before{
    content: "";
}

.clen p{
    width: 100%;
    margin-bottom: 10px;
}

.clen a{
    margin-top: -10px;
    margin-right: 5px;
    color: rgb(255, 0, 120);
}

.clen a:first-of-type{
    clear: left;
}

.clen a:hover{
    color: rgb(187, 0, 87);
}

.clear{
    clear: both;
}


.clen img{
    border-radius: 50%;
    height: 200px;
    width: 200px;

    position: relative;
    top: 10px;
    margin-bottom: 20px;
    border: rgb(255, 0, 120) solid 5px;
}

@media (max-width: 991px) {
    .logoheading {
        height: 70px;
        margin: 7px 0 10px 50px;
    }
    .vlnovka-top {
        margin: 7px 50px 10px 0;
        height: 75px;
    }
    
    .navigation {
        height: 140px;
        text-align: center;
    }
    .navlink-div {
        padding: 5px 0 0 0;
    }
    .navlinks {
        font-size: 1.3rem;
        margin: 0 3px 0 3px;
        font-weight: 200;
    }
    .logomain {
        margin-top: 180px;
        max-width: 80vw;
        width: 80vw;
        max-width: 600px;
        max-height: 400px;
    }
    p {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .logoheading {
        margin: 7px 0 10px 30px;
    }
    .vlnovka-top {
        margin: 7px 30px 10px 0;
        height: 60px;
    }
    .navigation {
        height: 125px;
        text-align: center;
    }
    .navlink-div {
        padding: 5px 0 0 0;
    }
    .navlinks {
        font-size: 0.94rem;
        margin: 0 0 0 0;
        font-weight: 400;
    }
    h2 {
        font-size: 2rem;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }
    p {
        width: 90%;
    }
}

.bg-white {
    background-color: white;
}