.navigation {
  background-color: rgba(0, 0, 0, 0.8);
  border-style: solid;
  border-width: 3px 0 3px 0;
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 80px;
}

.navlinks {
  color: white;
  font-size: 1.5rem;
  margin: 0 10px 0 10px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  display: inline;
}

.navlink-div {
  padding: 15px 0 0 0;
}

.slash {
  color: rgb(255, 0, 120);
}

.vlnovka-top {
  margin: 0 0 30px 0;
  height: 75px;
}

.no-side-pad {
  padding-left: 0;
  padding-right: 0;
}

.logoheading {
  height: 70px;
  margin: 0 0 30px 0;
}

.header {
  height: 650px;
  text-align: center;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 650px;
  position: absolute;
  left: 0;
  z-index: -50;
  filter: brightness(20%);
}

.o-nas {
  background-color: black;
  text-align: justify;
  padding: 75px 0 75px 0;
  position: relative;
}

.o-nas-txt {
  font-size: 1.25rem;
  font-weight: 300;
}

.bg-pic1 {
  position: absolute;
  opacity: 0.5;
  transform: rotate(-20deg);
  left: 140px;
  top: 83px;
}

.bg-pic2 {
  position: absolute;
  opacity: 0.5;
  transform: rotate(8deg);
  left: 175px;
  top: 325px;
}

.bg-pic3 {
  position: absolute;
  opacity: 0.5;
  transform: rotate(16deg);
  right: 140px;
  top: 75px;
}

.bg-pic4 {
  position: absolute;
  opacity: 0.5;
  transform: rotate(-20deg);
  right: 200px;
  top: 300px;
}

.bg-pic5 {
  position: absolute;
  opacity: 0.5;
  transform: rotate(-20deg);
  right: 500px;
  top: 50px;
}

.novinky {
  padding: 75px 0 75px 0;
}

.projekty {
  padding: 75px 0 75px 0;
}

.logomain {
  margin: 200px 0 0 0;
  max-height: 300px;
  width: 80%;
  max-width: 650px;
}

.white {
  color: white;
}

.footericon {
  color: black;
}

.pagedivide {
  margin: 5rem auto 2rem auto;
}

hr {
  margin: 2rem auto 1.5rem auto;
  border-style: dotted;
  border-width: 0.75rem 0 0 0;
  width: 3rem;
  font-family: 'Ubuntu', sans-serif;
}

br {
  margin: 10px 0 0 0;
}

h2 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

p {
  width: 100%;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
}