a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#mainlogo{
    width: 90%;
    margin: auto;
    display:block
}

#blog-or-page{
    margin: auto;
    display: inline-block;
    padding: 0 0 10px 0;
}

.main-button{
    padding: 20px;
    margin: 10px;
    display: inline-block;
    max-width: 50%;
    margin: auto;

    background: #f12f86;
    border-radius: 20px;
    box-shadow: 1px 1px black;

    text-decoration: none;
    color: black;
}

.prispevok{
}



#blog{
    padding: 100px 0 0 0;
    min-height: 90vh;
}

.nothing-here{
    color: #a3a3a3;
    padding-top: 50px;
    text-align: center;
}
.thumbnail{
    height: 175px;
    float: left;
    margin: 0 10px 5px 0;
}

.prispevok p{
    margin: 0;
    width: 100%;
}

.prispevok a{
    color: #C7025B;
}

.prispevok{
    background: #e8f4f7;
    padding: 20px;
    border: #01004a 1px solid;
    margin-bottom: 30px;
}

.squeeze{
    width: 80%;
    margin: auto;
}

.autor-info img{
    border-radius: 50%;
}
.autor-info p{
    display: inline-block;
    width: 70%;
    font-weight: bold;

    padding-bottom: 30px;
    padding-left: 10px;
}

.metadata{
    color: dimgrey;
    font-size: 0.9rem;
    padding-top: 20px;
    font-weight: 200;

}
.archiv{
    padding: 10px 0 0 0;
}
.archiv h6{
    display: inline-block;
    padding: 0;
}
.archiv p{
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
}
.archiv a{
    color: #C7025B;
}

@media (max-width: 991px) {
    #blog{
        padding: 160px;
    }
    .squeeze{
        width: 100%;
    }
    h3{
        text-align: center;
    }
    .thumbnail{
        display: block;
        max-height: 60vh;
        max-width: 100%;
        height: auto;
        float: none;
        margin: 0 auto 10px auto;
    }
}
@media (max-width: 800px) {
    #blog {
        padding: 160px 10px 0 10px;
    }
}