<div class="footer">
    <div class="center">
        <img src="/img/logotext_2.webp" alt="ArtBeat Logo">
        <div class="link-box group">
            <ul>
                <li><h4>© 2020 – 2021 ArtBeat</h4></li>
                <li><a href="/gdpr.html" class="footerlink">Ochrana osobných údajov</a></li>
                <li><a href="/docs/stanovy.pdf" class="footerlink">Stanovy OZ ArtBeat</a></li>
<!--                <li><a href="https://ives.minv.sk/rmno/detail?id=3m1QN36Uhejyd5T7VBEuFz%2bXMCcb1yxjEykGS6HZyzmzAzYC%2byakYfSfR%2fEPy7AB" class="footerlink">Aktuálny výpis z RMNO</a></li>-->
            </ul>
        </div>
        <div class="link-box">
            <ul>
                <li><h4>Sociálne siete</h4></li>
                <li><a href="https://www.facebook.com/o.z.artbeat" class="footerlink"><i class="fab fa-facebook-square"></i> Facebook</a></li>
                <li><a href="https://www.instagram.com/artbeat.sk/" class="footerlink"><i class="fab fa-instagram-square"></i> Instagram</a></li>
                <!--                    <li><a href="#" class="footerlink"><i class="fab fa-linkedin"></i> LinkedIn</a></li>-->
            </ul>
        </div>
        <div class="link-box">
            <ul>
                <li><h4>Kontakt</h4></li>
                <li><a href="tel:0917449012" class="footerlink">+421 917 449 012</a></li>
                <li><a href="mailto:projekt@artbeat.sk" class="footerlink">projekt@artbeat.sk</a></li>
                <li>Nedbalova 9, Nitra</li>
            </ul>
        </div>
    </div>
</div>