<script src="/js/script.js" defer></script>

<div class="navigation" id="navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-auto mx-auto">
                <a href="/index.html#">
                    <img src="/img/logo.webp" alt="logo">
                    <img src="/img/logotext.webp" alt="logo">
                </a>
            </div>
            <div class="col-sm-auto mx-auto">
                <div class="navlink-div">
                    <a href="/index.html#o-nas" class="navlinks">O nás</a>
                    <p class="navlinks"> | </p>
                    <a href="/index.html#clenovia" class="navlinks">Členovia</a>
                    <p class="navlinks"> | </p>
                    <a href="/blog/index.html#" class="navlinks">Blog</a>
                </div>
            </div>
        </div>
    </div>
</div>