<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
<!--		TODO: ADD A TITLE-->
		<title>ADD A TITLE</title>
		<link rel="stylesheet" href="css/style.css">

		<!-- GOOGLE FONTS !-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Libre+Franklin:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
		<!-- Anton, Libre Franklin !-->

	</head>
	<body>
		<header class="navigation-bar">
			<a href="/blog"><img src="/img/logotext.webp" alt="logo"></a>
		</header>
		<main>
			<article>
				<header class="post-header">
					<!--		TODO: ADD A TITLE-->
					<h1 class="post-title">Na tejto stránke je článok!</h1>
					<p class="post-meta">
						<!--		TODO: ADD AUTHOR + DATE -->
						Napísal <a href="#" class="author">Admin Administratívny</a> <time datetime="2021-10-20 19:00">Október 20, 2021</time>
					</p>
				</header>
				<!--		TODO: ADD POST CONTENT-->
				<div class="post-content">
					<p>
					Cupcake ipsum dolor sit amet oat cake candy canes dragée chocolate cake. Sweet roll oat cake chocolate cake cake chupa chups candy danish muffin. Gummies topping bonbon tootsie roll. Icing topping brownie caramels. Cake liquorice gingerbread. Icing marzipan marshmallow cookie macaroon. Liquorice pastry bear claw cotton candy bear claw ice cream candy canes toffee. Candy tiramisu dragée. Cupcake wafer jelly oat cake carrot cake sweet roll. Chupa chups marshmallow cake brownie carrot cake sugar plum donut biscuit jujubes. Cake cake croissant danish gummies toffee tiramisu croissant. Ice cream jelly brownie ice cream oat cake cupcake brownie cotton candy.
					</p>
					<p>
						Chupa chups donut jelly-o tart chocolate carrot cake ice cream candy sesame snaps. Cheesecake tootsie roll chupa chups donut carrot cake. Cake chocolate marshmallow sweet. Apple pie dragée cheesecake cake icing chocolate jelly beans. Candy canes wafer lollipop jelly chocolate cake marzipan carrot cake tootsie roll. Cake jelly-o candy canes. Marshmallow bonbon pastry cotton candy. Chocolate tart soufflé gummi bears macaroon. Cheesecake chupa chups sweet roll. Ice cream carrot cake sweet gummi bears croissant pastry marshmallow tiramisu. Liquorice cotton candy topping lemon drops caramels jelly beans lemon drops marshmallow halvah. Gummi bears chocolate cake topping caramels lemon drops sugar plum.
					</p>
					<h2>Podnadpis</h2>
					<p>
						Fruitcake cotton candy pie. Bear claw cookie sugar plum bonbon icing lemon drops chupa chups. Bonbon ice cream sweet roll cheesecake jujubes. Cookie dessert lollipop jelly jujubes tart muffin lollipop. Macaroon macaroon pie cupcake donut chocolate bar cake. Cookie pudding danish. Chupa chups caramels pastry. Jelly beans donut lemon drops cake tiramisu tiramisu dragée tootsie roll. Toffee cookie lemon drops cotton candy bonbon lollipop. Sweet oat cake sesame snaps sesame snaps croissant oat cake candy. Sesame snaps jelly sesame snaps powder chocolate cake topping marshmallow sweet roll bonbon. Chocolate cake cookie danish gummies cake gummies. Carrot cake gingerbread cake cheesecake jujubes carrot cake dragée gingerbread. Cake chupa chups powder cake cookie tootsie roll.
					</p>
					<h3>Menší podnadpis</h3>
<!--					<aside class="pullquote float-left">-->
<!--						<q>-->
<!--							Liquorice cotton candy topping lemon drops caramels jelly beans lemon drops marshmallow-->
<!--						</q>-->
<!--					</aside>-->


					<p>
						Tiramisu donut cookie soufflé. Sesame snaps candy sweet roll topping powder carrot cake. Pastry cheesecake jelly danish cheesecake cake biscuit chupa chups. Fruitcake dessert sweet roll dragée. Ice cream icing sweet roll candy canes dessert carrot cake jelly oat cake. Jelly-o soufflé chocolate bar icing brownie cotton candy. Jujubes gummi bears fruitcake. Soufflé powder tootsie roll. Candy canes cake sugar plum oat cake cookie sugar plum muffin chocolate. Chocolate bar cheesecake tiramisu sesame snaps. Lollipop topping sweet gingerbread cookie candy cake marshmallow.
					</p>
<!--					<aside class="pullquote float-right">-->
<!--						<q >-->
<!--							Halvah pie icing bonbon tiramisu apple pie. Pie icing icing pudding.-->
<!--						</q> -->
<!--					</aside>-->
					<p>
						Croissant marzipan fruitcake biscuit sugar plum jelly-o sweet roll bear claw. Liquorice candy dragée sweet chupa chups. Bear claw pastry wafer chocolate cake. Caramels marzipan muffin pudding sugar plum liquorice gummi bears. Danish brownie bonbon donut candy canes. Icing sweet roll gingerbread. Gummi bears pie croissant topping soufflé lollipop candy canes lollipop. Halvah icing caramels liquorice jelly-o. Tart pastry marzipan dragée macaroon jujubes gummies. Toffee sweet bear claw pudding danish pastry cupcake jelly-o. Brownie cupcake jujubes jelly beans chocolate bar carrot cake powder sweet cake. Dessert carrot cake dragée oat cake pie muffin fruitcake lollipop candy. Pudding sugar plum gummies marzipan pastry. Liquorice wafer dragée cheesecake.
					</p>
					
				</div>
				<!--		TODO: ADD INFO TO FOOTER-->
				<footer class="post-footer">
					<h3>O autorovi</h3>
					<div class="byline">
						<a href="#" class="photo">
							<img src="https://via.placeholder.com/120" height="120" alt="Profilová fotka autora">
						</a>
						<h3>
							<a href="#">Admin Administratívny</a>
						</h3>
						<div class="bio">
							<p>
								Admin administratívny icing <strong>jelly-o topping</strong> topping donut muffin ice cream I love caramels. <a href="#">Cheesecake candy canes.</a> I love icing. Wafer biscuit jelly beans. Cookie ice cream pastry powder. Sesame snaps sesame snaps brownie dragée chocolate cake. Pudding dessert croissant candy.
							</p>
						</div>

					</div>
				</footer>
			</article>
		</main>

		<footer class="global-footer">
			Made with love
			&nbsp;&nbsp;
			&copy; ArtBeat 2021
		</footer>

	</body>
</html>