<!DOCTYPE html>
<html lang="sk" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>{{page.title}}</title>
		<link rel="stylesheet" href="/css/clanok.css">

		<!-- GOOGLE FONTS !-->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Libre+Franklin:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
		<!-- Anton, Libre Franklin !-->

		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../img/favicon/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/favicon/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/favicon/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/favicon/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../img/favicon/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../img/favicon/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../img/favicon/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../img/favicon/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="../img/favicon/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="../img/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="../img/favicon/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../img/favicon/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="../img/favicon/favicon-128.png" sizes="128x128" />
		<meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png" />
		<meta name="msapplication-square70x70logo" content="../img/favicon/mstile-70x70.png" />
		<meta name="msapplication-square150x150logo" content="../img/favicon/mstile-150x150.png" />
		<meta name="msapplication-wide310x150logo" content="../img/favicon/mstile-310x150.png" />
		<meta name="msapplication-square310x310logo" content="../img/favicon/mstile-310x310.png" />

	</head>
	<body>
		<header class="navigation-bar">
			<a href="/blog"><img src="/img/logotext.webp" alt="logo"></a>
		</header>
		<main>
			<article>
				<header class="post-header">
					<h1 class="post-title">{{page.title | upcase}}</h1>
					<p class="post-meta">
						Napísal <a class="author"><img src="{{ page.author-profile }}" height="50px" style="border-radius: 50%; position: relative; top: 18px; border: #C7025B solid 1px"> {{page.author}}</a>
						<time>
							{% assign m = page.date | date: "%-m" %}
							{{ page.date | date: "%-d" }}
							{% case m %}
							{% when '1' %}Januára
							{% when '2' %}Februára
							{% when '3' %}Marca
							{% when '4' %}Apríla
							{% when '5' %}Mája
							{% when '6' %}Júna
							{% when '7' %}Júla
							{% when '8' %}Augusta
							{% when '9' %}Septembra
							{% when '10' %}Októbra
							{% when '11' %}Novembra
							{% when '12' %}Decembra
							{% endcase %}
							{{ page.date | date: "%Y" }}
						</time>
					</p>
				</header>
				<div class="post-content">
					<p>{{ page.perex }}<p>
					{{ content }}
				</div>
				<!--		TODO: ADD INFO TO FOOTER-->
<!--				<footer class="post-footer">-->
<!--					<h3>O autorovi</h3>-->
<!--					<div class="byline">-->
<!--						<a href="#" class="photo">-->
<!--							<img src="https://via.placeholder.com/120" height="120" alt="Profilová fotka autora">-->
<!--						</a>-->
<!--						<h3>-->
<!--							<a href="#">Admin Administratívny</a>-->
<!--						</h3>-->
<!--						<div class="bio">-->
<!--							<p>-->
<!--								Admin administratívny icing <strong>jelly-o topping</strong> topping donut muffin ice cream I love caramels. <a href="#">Cheesecake candy canes.</a> I love icing. Wafer biscuit jelly beans. Cookie ice cream pastry powder. Sesame snaps sesame snaps brownie dragée chocolate cake. Pudding dessert croissant candy.-->
<!--							</p>-->
<!--						</div>-->

<!--					</div>-->
<!--				</footer>-->
			</article>
		</main>

		<footer class="global-footer">
			Made with love
			&nbsp;&nbsp;
			&copy; ArtBeat 2021
		</footer>

	</body>
</html>